In [ ]:
#1. Write a program that takes an integer as input and determines if it is even or odd using an if-else statement.
number = int(input("Enter an integer: "))
if number %2==0:
  print("number is even")
else:
   print("number is odd")

Enter an integer: 9
number is odd

In [ ]:
#2. Write a program that takes a person's age as input and determines if they are eligible to vote using an if-else statement.
Age= int(input("Enter your Age: "))
if Age >=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your Age: 17
You are not eligible to vote

In [ ]:
#3. Write a program that takes a year as input and determines if it is a leap year using an if-else statement.

Year= int(input("Enter a year "))
if(Year%4==0 and Year%100 !=0) or (Year % 400 == 0):
  print(Year, "is a leap year")
else:
  print(Year, "is not a leap year")

Enter a year 2024
2024 is a leap year

In [10]:
#4. Write a program that takes the price of a product and the discount percentage as input and calculates the discounted price using an if-else statement.
price= int(input("Enter the price: "))
discount_percentage= int(input("Enter the discount percentage: "))
if discount_percentage >= 0 and discount_percentage <= 100:
      discount_amount = (discount_percentage / 100) * price
      discounted_price = price - discount_amount
      print("The discounter price is:", discounted_price)
else:
      print("Invalid discount percentage ")

Enter the price: 45
Enter the discount percentage: 21
The discounter price is: 35.55

In [ ]:
#5. Write a program that takes a character as input and determines if it is uppercase or lowercase using an if-else statement.

character= input("Enter a character: ")
if character.isupper():
  print("Character is uppercase")
elif character.islower():
  print("Character is lowercase")
else:
  print("Enter a valid character")

Enter a character: sashank
Character is lowercase

In [ ]:
#6. Write a program that takes a number as input and determines if it is positive, negative
number= int(input("Enter a number: "))
if number>0:
  print("The number is positive")
elif number<0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number: -1
The number is negative

In [21]:
#2. Write a Python program that prints the multiplication table (from 1 to 10) using nested loops.
for i in range(1,1):
  for j in range(1,10+1):
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
#3. Write a Python program using nested loops to find all prime numbers within a given range.
starting_range= int(input("Enter starting range: "))
ending_range= int(input("Enter ending range: "))
for num in range(start_range, end_range + 1):
  if num>1:
    is_prime = True
    for i in range(2, num):
      if (num % i) == 0:
        is_prime = False
    if is_prime:
        print(num)

Enter starting range: 5
Enter ending range: 25
5
7
11
13
17
19
23

In [11]:
#5. Write a Python program to print Pascal's triangle up to `n` rows using nested loops.
from math import factorial
n = int(input("Enter Pascal triangle how many rows: "))
for i in range(n+1):
  for j in range(n-i-1):
    print(end=" ")
  for k in range(i+1):
    element = factorial(i)/(factorial(k)*factorial(i-k))
    print(int(element), end = " ")
  print()

Enter Pascal triangle how many rows: 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

In [3]:
#4. Write a Python program to print the Fibonacci sequence's first `n` numbers using a loop within a loop.
n = int(input("Enter the number of Fibonacci numbers to print: "))

first = 0
second = 1

print("Fibonacci sequence:")
for _ in range(n):
    print(first, end=" ")

    next_num = first + second

    first = second
    second = next_num

Enter the number of Fibonacci numbers to print: 5
Fibonacci sequence:
0 1 1 2 3

In [7]:
#1. **Print a pattern**: Write a Python program to print the following pattern using nested loops:
n= int(input("Enter number of rows: "))
for i in range(1, n + 1):
  for j in range(i):
     print("*", end="")
  print()

Enter number of rows: 5
*
**
***
****
*****

In [38]:
#Modified code
for i in range(1, 11):
    for j in range(1, 10 + 1):
        result = i * j
        if result < 10:
            print("0" + str(result), end=" ")
        else:
            print(result, end=" ")
    print()

01 02 03 04 05 06 07 08 09 10
02 04 06 08 10 12 14 16 18 20
03 06 09 12 15 18 21 24 27 30
04 08 12 16 20 24 28 32 36 40
05 10 15 20 25 30 35 40 45 50
06 12 18 24 30 36 42 48 54 60
07 14 21 28 35 42 49 56 63 70
08 16 24 32 40 48 56 64 72 80
09 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100